.root{
    /*-fx-background-color: #ffcd38;*/
    
    /*-fx-background-color: rgba(255, 161, 0, 0.5);*/
    -fx-background-color: #cfcfcf;
    -fx-min-height: 32px;
}

.tooltip{
    -fx-font-size: 15px;
}

#btnOpenFile{    
    -fx-graphic: url("/pictures/open2.png");
}

#btnOpenProjectFile{
    -fx-graphic: url("/pictures/open2.png");
    -fx-min-height: 32px;
}

#btnOpenChoiceFile{
    -fx-graphic: url("/pictures/open2.png");
}


#btnSave{
	-fx-graphic: url("/pictures/save.png");
    -fx-min-height: 32px;

}

#btnStatistik{
	
	-fx-graphic: url("/pictures/statistic2.png");
	
}

#btnUndo{
	
	-fx-graphic: url("/pictures/Undo.png");
    -fx-min-height: 32px;
	
}

#btnRedo{
	
	-fx-graphic: url("/pictures/Redo.png");
    -fx-min-height: 32px;

}

#btnStartAssignment{
	
	-fx-graphic: url("/pictures/start.png");
	
}

#statusBox{
	
	-fx-background-color: #ffcd38;		
}

#bottomBox{
	
	-fx-background-color: #ffcd38;		
}

#comboBoxVersions{
    -fx-min-height: 32px;
    -fx-min-width: 100px;
}
